.Navbar {
  border-bottom: 1px solid white;
  background-color: #080808;
  color: #ffff;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
  padding: 10px 0px;
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: 1%;
}
.logo img {
  width: 90%;
}

.nav-menu {
  position: fixed;
  right: 0;
  padding: 5px;
  margin-right: 10px;
}
.nav-list {
    display: inline-block;
    margin: 0 10px;
    padding: 0px 5px;
    border-radius: 2%;
}

.nav-list a {
  list-style: none;
  text-decoration: none;
  color: #ff4f00;
  transition: 1s;
}
.nav-list a:hover {
    opacity: 0.5;
}

.nav-list:nth-child(4) {
  border: 1px solid white;
  padding: 1px 20px;
  transition: 1s;
}
.nav-list:nth-child(4):hover {
  background-color: #dcdcdc;
}
.nav-list:nth-child(4) a:hover {
  color: #000014;
  opacity: 1;
}

